@page
@model Scadenziario_MCG.Pages.Tipologie.InsertModel
@{
}
<form method="post">
    <div class="container">
        <div class="row">
            <h3>Aggiungi Nuova Registrazione </h3>
            <label>Codice Tipologia Scadenza</label>
            <input name="textboxCTS" class="form form-control text-muted m-2">
            <label>Descrizione Tipologia</label>
            <input name="textboxDT" class="form form-control text-muted m-2">
            <label>Tipo Anagrafica</label>
            <input name="textboxTAna" class="form form-control text-muted m-2">
            <label>Gruppo</label>
            <input name="textboxGruppo" class="form form-control text-muted m-2">
            <label>Anagrafica</label>
            <input name="textboxAna" class="form form-control text-muted m-2">
            <label>Manutenzione Macchina</label>
            <input name="textboxManut" class="form form-control text-muted m-2">
            <label> Avviso Scadenza</label>
            <input name="textboxAS" class="form form-control text-muted m-2">
            <label>Avviso Invio Email</label>
            <input name="textboxAIE" class="form form-control text-muted m-2">
            <label>Mittente Nome</label>
            <input name="textboxMN" class="form form-control text-muted m-2">
            <label>Mittente Indirizzo</label>
            <input name="textboxMI" class="form form-control text-muted m-2">
            <label>Testo Email</label>
            <input name="textboxTE" class="form form-control text-muted m-2">
            <label>Ricorrente</label>
            <input name="textboxRR" class="form form-control text-muted m-2">
            <label>Formula Rinnovo Scadenza</label>
            <input name="textboxFRS" class="form form-control text-muted m-2">
            <button class="btn btn-small btn-ouline-success m-2">Aggiungi</button>
        </div>
    </div>
</form>